<footer class="footer">
  <div class="footer__section">
    <h4 class="footer__heading">Customer service</h4>
    @if (phones().length){
    <ul class="footer__list">
      @for (phone of phones(); track $index) {
      <li class="footer__text">{{ phone }}</li>
      }
    </ul>
    }@else {
    <app-empty-state>
      <p ngProjectAs="message">No contact numbers available.</p>
    </app-empty-state>
    }
  </div>

  <div class="footer__section">
    <h4 class="footer__heading">Quick links</h4>
    @if (links().length) {
    <ul class="footer__list">
      @for (link of links(); track $index) {
      <li>
        <a class="footer__link" [href]="link.url">{{ link.label }}</a>
      </li>
      }
    </ul>
    } @else {
    <app-empty-state>
      <p ngProjectAs="message">No quick links available.</p>
    </app-empty-state>
    }
  </div>
</footer>
