@use "colors";

.footer {
  padding: 2rem 4vw;
  border-top: 1px solid colors.$color-border;
  background-color: colors.$color-background-dark;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  color: colors.$color-text-on-dark;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__heading {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: colors.$color-background;
  }

  &__text {
    color: colors.$color-secondary;
  }

  &__list {
    list-style: none;
  }

  &__link {
    &,
    &:visited {
      color: colors.$color-muted;
      text-decoration: none;
      display: inline-block;
      padding: 0.2rem 0;
      transition: color 0.2s;
    }

    &:hover,
    &:active {
      color: colors.$color-accent-light;
    }
  }
}
