@use "colors";

.not-found {
  text-align: center;
  margin-top: 6rem;
  text-align: center;
  margin-top: 6rem;

  &__title {
    font-size: 2rem;
    color: colors.$color-danger;
  }

  &__message {
    margin-top: 1rem;
  }

  &__link {
    display: inline-block;
    margin-top: 2rem;
    color: colors.$color-accent;
    text-decoration: none;
  }
}
