<app-header />
<main class="container main-grid">
  <section class="small-section">
    <h2 class="header-secondary">This is just a small side panel</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus saepe,
      odio, quasi numquam eligendi odit deserunt officiis earum quos minus eos
      laboriosam esse debitis ex unde? Eos sint distinctio necessitatibus!
    </p>
  </section>
  <section>
    <app-product-filter />
    <app-product-list />
  </section>
  <aside class="side-panel">
    <p class="temp-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, sequi
      maiores? Sint aperiam corporis quam repellendus pariatur accusamus
      voluptate ea impedit adipisci laboriosam, dolorum, laborum provident
      perferendis fugiat aut dolores. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Fugiat repellat magnam alias ullam optio asperiores sunt
      ab est mollitia veritatis. Illo suscipit magnam sunt voluptate dolor
      necessitatibus neque. Dolorum, sit. Lorem ipsum, dolor sit amet
    </p>
  </aside>
</main>
<app-footer />
