:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.container {
  padding: 6rem 3rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}
