@use "colors";

.nav-panel {
  padding: 0 2rem;

  &__heading {
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    position: relative;
    padding: 0.25rem 0;
    transition: color 0.2s ease;

    &:hover,
    &:active {
      color: colors.$color-accent-light;
      font-weight: 600;
    }
  }
}
