.product-details {
  max-width: 60rem;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.05);
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.price {
  font-size: 2.5rem;
  color: #318ac5;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
}

.not-found {
  text-align: center;
  font-size: 1.5rem;
  color: #c00;
  margin: 4rem auto;
}
