* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  overflow-x: hidden;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 8rem;
}

.logo {
  height: 3rem;
}

.select-language {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 9px;
}

/* MAIN CONTENT */
.container {
  padding: 8rem 0;
}

.main-grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* SECTION SMALL SIDEPANEL */
.small-section {
  padding: 0 8rem;
}

.heading-secondary {
  font-weight: 500;
  font-size: 1.5;
  text-align: center;
}

/* SECTION ACCORDION */
.section-accordion {
  padding: 1.2rem;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.accordion {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.item {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1.5rem;
  row-gap: 0.5rem;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 1rem;
  font-weight: 700;
}

.subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  grid-row: 1 / span 2;
  grid-column: 2;
}

.hidden-box {
  grid-column: 1/-1;
  display: none;
}

.open .hidden-box {
  display: flex;
  flex-direction: column;
}

.table {
  display: inline-block;
  margin-top: 0.8rem;
}

.row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  align-content: center;
}

.row:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.row:hover {
  color: #fff;
  background-color: rgb(85, 0, 165);
}

.table-item {
  padding: 1rem;
}

.col-1 {
  width: 8%;
}

.col-2,
.col-3,
.col-5,
.col-6 {
  width: 20%;
}

.col-4 {
  width: 30%;
}

/* SIDEPANEL */
.side-panel {
  padding: 2rem 4rem;
}

.temp-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* FOOTER */
.footer {
  padding: 3rem 9rem;
  border-top: 1px solid #eee;
  background-color: rgb(250, 44, 147);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.footer-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #fff;
}

.footer-links {
  list-style: none;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  line-height: 1.4;
  color: #fff;
}

.footer-link:hover,
.footer-link:active {
  color: rgb(252, 189, 220);
}
